# Logs e Arquivos de Erro
failed_log.txt
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Configurações Locais
.env*
!.env.example

# Dependências e Build
node_modules/
dist/
build/
coverage/

# OS
.DS_Store
Thumbs.db
